<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Register Pet</title>
  <link rel="stylesheet" href="/css/pet.css">
</head>
<body>
<h1>Register Pet</h1>

<form action="/api/pet/register" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  <label for="age">Age:</label>
  <input type="number" id="age" name="age" required>
  <label for="category">Category:</label>
  <select id="category" name="category" required>
    <option value="DOG">Dog</option>
    <option value="CAT">Cat</option>
    <option value="BIRD">Bird</option>
  </select>
  <label for="weight">Weight:</label>
  <input type="number" id="weight" name="weight" required>
  <label for="neutered">Neutered:</label>
  <select id="neutered" name="neutered" required>
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>
  <label for="gender">Gender:</label>
  <select id="gender" name="gender" required>
    <option value="MALE">Male</option>
    <option value="FEMALE">Female</option>
  </select>
  <label for="imageUrl">Image URL:</label>
  <input type="text" id="imageUrl" name="imageUrl" required>
  <button type="submit">Register Pet</button>
</form>

</body>
</html>
